* {
  font-family: "Inter", sans-serif;
}

h1.title {
  font-size: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 20vw;
}
.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-card {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.site-card a {
  text-decoration: none;
}
